.mainWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
}

.middleSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.levelBarWrapper {
  width: 20%;
  text-align: center;
  transform: rotate(-90deg);
}

.mainActorWrapper {
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.mainActorWrapper img {
  width: 100%;
  height: auto;
}

.factsList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 30%;
}

.fact {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  background-color: white;
}
